body {
  background-color: #2F2FA2;
}
H1 {
  color: #F64C72;
}


h3{
  color: #F64C72;}

p{
  color: white;
}

ul{
  color: white;
}

table{
  color: white;
}

h4{
  color: #F64C72;
}

hr{
  background-color: #2F2FA2;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 15%;
  border-color: #F64C72;


#F64C72
#3AAFA9
